In [1]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
from settings import DbSetting
from models.models import CarcassMarketPrice, create_table

In [3]:
# DB接続
db_setting = DbSetting()
engine = db_setting.get_db_engine()
session = db_setting.get_db_session()

In [4]:
sql = 'select * from carcass_market_price'
df = pd.read_sql(
    sql = sql,
    con = engine,
    )

2023-05-24 10:25:15,824 INFO sqlalchemy.engine.Engine SELECT DATABASE()
2023-05-24 10:25:15,825 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-05-24 10:25:15,827 INFO sqlalchemy.engine.Engine SELECT @@sql_mode
2023-05-24 10:25:15,827 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-05-24 10:25:15,828 INFO sqlalchemy.engine.Engine SELECT @@lower_case_table_names
2023-05-24 10:25:15,829 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-05-24 10:25:15,830 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-24 10:25:15,831 INFO sqlalchemy.engine.Engine DESCRIBE `dev_carcass_db`.`select * from carcass_market_price`
2023-05-24 10:25:15,831 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-05-24 10:25:15,834 INFO sqlalchemy.engine.Engine select * from carcass_market_price
2023-05-24 10:25:15,835 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-05-24 10:25:15,851 INFO sqlalchemy.engine.Engine ROLLBACK

In [5]:
df

,id,market_date,nationwide_slaughter,zennoh_high_price,zennoh_middle_price,tokyo_high_price,tokyo_middle_price,tokyo_ordinary_price,tokyo_outside_price,tokyo_head_count,...,yokohama_ordinary_price,yokohama_outside_price,yokohama_head_count,osaka_high_price,osaka_middle_price,osaka_ordinary_price,osaka_outside_price,osaka_head_count,created_at,updated_at
0,1,2022-04-01,61900,486,455,500.0,466.0,439.0,366.0,886.0,...,425.0,348.0,620.0,0,407,338,316,152,2023-05-22 09:02:03,2023-05-22 09:02:03
1,2,2022-04-04,61600,494,461,490.0,460.0,442.0,424.0,654.0,...,412.0,334.0,608.0,503,471,462,326,155,2023-05-22 09:02:03,2023-05-22 09:02:03
2,3,2022-04-05,64400,488,460,494.0,463.0,442.0,374.0,963.0,...,393.0,302.0,617.0,474,458,450,327,142,2023-05-22 09:02:03,2023-05-22 09:02:03
3,4,2022-04-06,65200,476,451,488.0,453.0,434.0,372.0,759.0,...,419.0,317.0,612.0,465,416,379,329,234,2023-05-22 09:02:03,2023-05-22 09:02:03
4,5,2022-04-07,64500,471,437,485.0,441.0,395.0,355.0,749.0,...,390.0,326.0,615.0,527,448,353,300,188,2023-05-22 09:02:03,2023-05-22 09:02:03
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253,254,2023-04-24,65600,602,581,600.0,576.0,541.0,502.0,1004.0,...,555.0,473.0,653.0,725,717,645,537,130,2023-05-22 09:38:55,2023-05-22 09:38:55
254,255,2023-04-25,68900,604,588,609.0,596.0,565.0,497.0,967.0,...,556.0,413.0,660.0,697,685,545,366,135,2023-05-22 09:38:55,2023-05-22 09:38:55
255,256,2023-04-26,69200,598,586,597.0,588.0,562.0,492.0,859.0,...,553.0,453.0,632.0,670,653,526,356,100,2023-05-22 09:38:55,2023-05-22 09:38:55
256,257,2023-04-27,69300,590,574,591.0,570.0,550.0,488.0,933.0,...,558.0,441.0,639.0,718,660,529,413,144,2023-05-22 09:38:55,2023-05-22 09:38:55
257,258,2023-04-28,69200,597,583,600.0,583.0,555.0,497.0,1019.0,...,559.0,456.0,626.0,641,638,521,435,146,2023-05-22 09:38:55,2023-05-22 09:38:55

In [22]:
dataset = pd.read_sql(sql=sql, con=engine)
X = dataset.iloc[:, 2:-2].values # 独立変数
y = dataset.iloc[:, 2:-2].values # 従属変数

2023-05-24 11:14:11,581 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-05-24 11:14:11,581 INFO sqlalchemy.engine.Engine DESCRIBE `dev_carcass_db`.`select * from carcass_market_price`
2023-05-24 11:14:11,582 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-05-24 11:14:11,584 INFO sqlalchemy.engine.Engine select * from carcass_market_price
2023-05-24 11:14:11,584 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-05-24 11:14:11,593 INFO sqlalchemy.engine.Engine ROLLBACK

In [23]:
X

array([[61900.,   486.,   455., ...,   338.,   316.,   152.],
       [61600.,   494.,   461., ...,   462.,   326.,   155.],
       [64400.,   488.,   460., ...,   450.,   327.,   142.],
       ...,
       [69200.,   598.,   586., ...,   526.,   356.,   100.],
       [69300.,   590.,   574., ...,   529.,   413.,   144.],
       [69200.,   597.,   583., ...,   521.,   435.,   146.]])

In [24]:
y

array([[61900.,   486.,   455., ...,   338.,   316.,   152.],
       [61600.,   494.,   461., ...,   462.,   326.,   155.],
       [64400.,   488.,   460., ...,   450.,   327.,   142.],
       ...,
       [69200.,   598.,   586., ...,   526.,   356.,   100.],
       [69300.,   590.,   574., ...,   529.,   413.,   144.],
       [69200.,   597.,   583., ...,   521.,   435.,   146.]])

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)